// Colores
$white: #fafafa;
$black: #181818;
$gray: #757575;
$dark-gray: #262626;
$green: #1db954;
$light-green: #8cd9a7;

// Duracion de la transición
$duration: 200ms;

// Tamaño maximo del los contenedores en el Layout
$max-w: 69.375rem; //1110px

// Tamaños de pantalla en rem
$size-sm: 40rem; //640px
$size-md: 48rem; //768px
$size-lg: 64rem; //1024px
$size-xl: 80rem; //1280px
$size-2xl: 96rem; //1536px
